*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



  .table-container {
    overflow-x: auto;
    max-width: 100%;
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .responsive-table th,
  .responsive-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  @media (max-width: 768px) {
    .responsive-table th,
    .responsive-table td {
      padding: 4px;
    }
  }