*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



  .table-container {
    overflow-x: auto;
    max-width: 100%;
    border-radius: 0.5rem;
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid lightblue;
    font-family: Arial, sans-serif;

  }
  
  /* Estilos para las filas impares */
.responsive-table tr:nth-child(odd) {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

/* Estilos para las filas pares (opcional) */
.responsive-table tr:nth-child(even) {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

  .responsive-table th,
  .responsive-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #dddddd;
  }
  
  @media (max-width: 768px) {
    .responsive-table th,
    .responsive-table td {
      padding: 4px;
    }
  }