.Footer{
    width: 100% !important;
    margin-top: 2rem;
    padding: 0;
    background: black;
    overflow-x: hidden!important;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-nav {
    margin-left: 0;
}